# Entorno — NUNCA commitear el .env real
.env
.env.local
.env.*.local

# Compilados Java
target/
*.class
*.jar

# Dependencias Node
node_modules/

# Build frontend
dist/
build/

# IDEs
.idea/
*.iml
.vscode/settings.json

# OS
.DS_Store
Thumbs.db
